<!-- Image of Citifield -->
<div class="container" style="font-family:corbel;">
  <img src="https://visitflushing.com/images/citifield.jpg" class="w3-margin-bottom" style="width:100%">
    <div class="content">
    <h3><b>Feedback to developer</b></h3>
    <h5><b>Lets get in touch and talk about your next neighborhood portfolio...</b></h5>
      <form id="contact-form" method="post">
      <h4>Name:</h4>
      <input type="text" id="name-input" placeholder="Enter name here…" class="form-control" style="width:50%;height:35px;border-radius:10px;" />
      <h4>Phone:</h4>
      <input type="phone" id="phone-input" placeholder="Enter phone number" class="form-control" style="width:50%;height:35px;border-radius:10px;"/>
      <h4>Email:</h4>
      <input type="email" id="email-input" placeholder="Enter email here…" class="form-control" style="width:50%;height:35px;border-radius:10px;"/>
      <h4>How can we help you?</h4>
      <textarea id="description-input" rows="3" placeholder="Enter your message…" class="form-control" style="width:100%;border-radius:10px;"></textarea>
      <div class="g-recaptcha" data-sitekey="6Lc7cVMUAAAAAM1yxf64wrmO8gvi8A1oQ_ead1ys" class="form-control" style="width:100%;"></div>
      <button style="border-radius:10px;" type="button" onClick="submitToAPI(event)" class="w3-light-grey w3-button">Submit</button><br/><br/>
     </form>
    </div>
   </div>