[submodule "hooterhacks"]
	path = hooterhacks
	url = https://github.com/mingl1/hooterhacks
[submodule "qr-code-component-main"]
	path = qr-code-component-main
	url = https://github.com/mingl1/qr-code-component-main
[submodule "product-preview-card-component-main"]
	path = product-preview-card-component-main
	url = https://github.com/mingl1/product-preview-card-component-main.git
[submodule "qccsummer2023"]
	path = qccsummer2023
	url = https://github.com/mingl1/qccsummer2023
