
 <div class="w3-container w3-padding-32" id="projects">
            <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Features</h3>
           </div>
  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Main Street</div>
        <img src="https://visitflushing.com/images/mainSt.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">7 Train</div>
        <img src="https://visitflushing.com/images/7-train.jpg" alt="House" style="width:100%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Sky View Mall</div>
        <img src="https://visitflushing.com/images/skyView.jpg" alt="House" style="width:99%">
      </div>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-grey w3-padding">Flushing Meadows</div>
        <img src="https://visitflushing.com/images/meadows.jpg" alt="House" style="width:99%">
      </div>
    </div>
  </div>