<app-top-bar></app-top-bar>
    <br>
       <header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
      <img src="https://visitflushing.com/images/nyc.jpg" alt="NYC" class="center">
    <div class="w3-display-middle w3-margin-top w3-center">
  <h1 class="w3-xxlarge w3-grey"><span class="w3-padding w3-black w3-opacity-min"><b>NYC</b></span> <span class="w3-hide-small w3-text-light-grey">from across the river</span></h1>
   </div>
  </header>
<app-feature></app-feature>

  <app-about></app-about>
  <app-form></app-form>