  <!-- About Section -->
  <div class="w3-container w3-padding-32" id="about">
    <h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">About</h3>
    <p>Multicultural Flushing is home to the city’s largest Chinatown, with bustling sidewalks, a tumult of shops, and eateries serving soup dumplings to Taiwanese pancakes. Korean and Indian cultures are well represented too. Built in 1862, Flushing Town Hall now hosts jazz concerts, and several historic homes date to the 17th and 18th centuries. The Queens Botanical Garden is a 39-acre oasis with a focus on native plants.</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/Tuliptime3.png" alt="Garden" style="width:100%">
      <h3>Botanical Garden</h3>
      <p class="w3-opacity">Parks & Recreation</p>
      <p>Queens Botanical Garden is a botanical garden located at 43-50 Main Street in Flushing, Queens, New York City. The 39-acre site features rose, bee, herb, wedding, and perennial gardens; an arboretum; an art gallery; and a LEED-certified Visitor & Administration Building.</p>

      <!-- Redirecting to another page + details on hover -->
      <a title="Click for more details about this park" href="index2.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/flushing-ny-map.jpg" alt="Map" style="width:100%">
      <h3>Directions</h3>
      <p class="w3-opacity">Map</p>
      <p>Flushing is located in the heart of Queens. It accessible from the LIE, Grand Central pkwy, Van Wyck expwy and Corss Island Parkway.</p>
      <!-- Redirecting to another page + details on hover -->
      <a title="Click for more details about this map" href="https://visitflushing.com/index3.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/restaurant.jpg" alt="Dinner" style="width:100%">
      <h3>Restaurants</h3>
      <p class="w3-opacity">Food</p>
      <p>Little Sheep Mongolian Hot Pot is a restaurant with a purpose. That purpose is to introduce all the of the great culinary traditions and flavors of Mongolia to the people of North America. Little Sheep creates an authentic experience for diners.</p>
      <!-- Redirecting to another page path (/details) + details on hover -->
      <a title="Click to find out about more restaurants" href="index2.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
    <div class="w3-col l3 m6 w3-margin-bottom">
      <img src="https://visitflushing.com/images/hotels.jpg" alt="Hotel" style="width:100%">
      <h3>Hotels</h3>
      <p class="w3-opacity">Lodging</p>
      <p>Enjoy a variety of features during your stay at Hyatt Place Flushing / LaGuardia Airport, including free shuttle service to and from the LaGuardia airport.</p>
      <!-- Redirecting to another page path (/two) + details on hover -->
      <a title="Click for more hotels in Flushing" href="index3.html" class="w3-block w3-grey w3-button">More Details</a>
    </div>
  </div>